/**
 * Buttons
 * =================================
 */
// Btn Base
$btn-radius: .5rem !default;

// Btn Primary
$btn-primary-color: $white !default;
$btn-primary-bg: $primary-color !default;
$btn-primary-hover: mix(black, $primary-color, 15%) !default;
$btn-primary-active: mix(black, $primary-color, 25%) !default;

// Btn Secondary
$btn-secondary-color: $white !default;
$btn-secondary-bg: $secondary-color !default;
$btn-secondary-hover: mix($black, $secondary-color, 15%) !default;
$btn-secondary-active: mix($black, $secondary-color, 25%) !default;

// Btn Tertiary
$btn-tertiary-color: $white !default;
$btn-tertiary-bg: $tertiary-color !default;
$btn-tertiary-hover: mix($black, $tertiary-color, 15%) !default;
$btn-tertiary-active: mix($black, $tertiary-color, 25%) !default;

// Btn Gray
$btn-gray-color: $white !default;
$btn-gray-bg: #ccc !default;
$btn-gray-hover: #eee !default;
$btn-gray-active: #e6e6e6 !default;

// Btn Grad
$btn-grad-bg: linear-gradient(to right, #ff5e4a 0%, #ffc544 100%) !default;
$btn-grad-color: $white !default;
$btn-grad-hover: #ff5e4a !default;

// Btn Danger
$btn-danger-bg: $error !default;
$btn-danger-color: $white !default;
$btn-danger-hover: mix(black, $btn-danger-bg, 15%) !default;
$btn-danger-active: mix(black, $btn-danger-bg, 25%) !default;

.btn {
  $self: &;
  
  background: transparent;
  color: $primary-color;
  border: .1rem solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-family: inherit;
  line-height: 1.1;
  cursor: pointer;
  user-select: none;
  outline: none;
  border-radius: $btn-radius;
  white-space: nowrap;
  transition: all .3s ease-in-out;
  position: relative;

  @include media($md) {
    font-size: 1.6rem;
  }

  &__text {
    transition: inherit;

    + #{$self}__icon {
      margin-left: 1rem;
    }
  }
  
  &__icon {
    fill: currentColor;
    width: 1.6rem;
    height: 1.6rem;
    flex: none;

    + #{$self}__text {
      margin-left: 1rem;
    }
  }

  &:not([class*="btn-"]) {
    &:hover {
      text-decoration: underline;
    }
  }

  /*
   *
   * Buttons Disabled
   *
   */
  &[disabled],
  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: .6;
    filter: grayscale(100%);
  }

  /*
   *
   * Buttons Types 
   *
   */
  &--primary {
    color: $btn-primary-color;
    background: $btn-primary-bg;

    &:hover,
    &:focus {
      background: $btn-primary-hover;
    }

    &:active {
      background: $btn-primary-active;
    }

    &-reverse {
      color: $btn-primary-bg;
      border-color: $btn-primary-bg;

      &:hover,
      &:focus {
        color: $btn-primary-color;
        background: $btn-primary-bg;
        border-color: $btn-primary-bg;
      }

      &:active {
        background: $btn-primary-active;
        border-color: $btn-primary-active;
      }
    }
  }

  &--secondary {
    color: $btn-secondary-color;
    background: $btn-secondary-bg;

    &:hover,
    &:focus {
      background: $btn-secondary-hover;
    }

    &:active {
      background: $btn-secondary-active;
    }

    &-reverse {
      color: $btn-secondary-bg;
      border-color: $btn-secondary-bg;

      &:hover,
      &:focus {
        color: $btn-secondary-color;
        background: $btn-secondary-bg;
        border-color: $btn-secondary-bg;
      }

      &:active {
        background: $btn-secondary-active;
        border-color: $btn-secondary-active;
      }
    }
  }

  &--tertiary {
    color: $btn-tertiary-color;
    background: $btn-tertiary-bg;

    &:hover,
    &:focus {
      background: $btn-tertiary-hover;
    }

    &:active {
      background: $btn-tertiary-active;
    }

    &-reverse {
      color: $btn-tertiary-bg;
      background: $btn-tertiary-color;
      border-color: $btn-tertiary-bg;

      &:hover,
      &:focus {
        color: $btn-tertiary-color;
        background: $btn-tertiary-bg;
        border-color: $btn-tertiary-bg;
      }

      &:active {
        background: $btn-tertiary-active;
        border-color: $btn-tertiary-active;
      }
    }
  }

  &--gray {
    background: $btn-gray-bg;
    color: $btn-gray-color;

    &:hover,
    &:focus {
      background: $btn-gray-hover;
    }

    &:active {
      background: $btn-gray-active;
    }

    &-reverse {
      color: $btn-gray-bg;
      border-color: $btn-gray-bg;

      &:hover,
      &:focus {
        background: $btn-gray-bg;
        border-color: $btn-gray-bg;
        color: $btn-gray-color;
      }

      &:active {
        background: $btn-gray-active;
      }
    }
  }
  
  /*
   *
   * Buttons Statusses
   *
   */
  &--danger {
    background: $btn-danger-bg;
    color: $btn-danger-color;

    &:hover {
      background: $btn-danger-hover;
    }

    &-reverse {
      color: $btn-danger-bg;
      border-color: $btn-danger-bg;

      &:hover {
        color: $btn-danger-color;
        background: $btn-danger-bg;
        border-color: $btn-danger-bg;
      }
    }
  }

  &--grad {
    background: $btn-grad-bg;
    color: $btn-grad-color;
    transition: none;
    background-origin: border-box;

    &:hover {
      background: $btn-grad-hover;
    }
  }

  /*
   *
   * Buttons Animated
   *
   */
  &--animated {
    z-index: 1;
    
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: $btn-radius;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .3s;
      background: inherit;
    }

    &:hover {
      transform: translateY(-.2rem);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }

  /*
   *
   * Buttons Sizes
   *
   */
  &--sm {
    font-size: 1.4rem;
    padding: .8rem 1rem;

    #{$self}__icon {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &--lg {
    font-size: 1.8rem;
    padding: 1.5rem 3rem;

    #{$self}__icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  /*
   *
   * Buttons extra
   *
   */
  &--block {
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;

    & + & {
      margin-top: 1.5rem;
    }
  }
}