.tabs

  .tabs__header

    .table-responsive
      ul.tabs__list
        li.tabs__item
          a.tabs__link.is-active(href="#tab-1") Tab 1
        li.tabs__item
          a.tabs__link(href="#tab-2") Tab 2
        li.tabs__item
          a.tabs__link(href="#tab-3") Tab 3

  .tabs__panes

    .tabs__tab-pane.is-active

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, porro, dicta!

    .tabs__tab-pane

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, porro, dicta!

    .tabs__tab-pane

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, porro, dicta!
