doctype html
html(lang="ru-RU")

  head

    meta(charset="utf-8")

    - const pageTitle = 'List of Pages'

    title #{pageTitle}

    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")

    style.
      body {
        background: #fafafa;
        font-family: Roboto, sans-serif;
        line-height: 1.5;
      }

      .wrapper {
        max-width: 800px;
        margin: 0 auto;
      }

      h1 {
        font-weight: 300;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 15px;
      }

      a {
        color: #0074D9;
      }

      a:visited {
        color: #85144b;
      }

      a:hover {
        text-decoration: none;
      }

      a:active {
        color: #001f3f;
      }

      .disabled {
        opacity: .5;
        filter: grayscale(50%);
        cursor: default;
        text-decoration: none;
      }

      .disabled:active,
      .disabled:visited,
      .disabled:focus {
        color: #0074D9;
      }

  body

    .wrapper

      h1 #{pageTitle}

      ol
        li #[a(href="./index.html" target="_blank") Home Page]
        li #[a(href="./catalog.html" class="disabled" target="_blank") Catalog]

      h2 Core

      ol
        li #[a(href="./styleguide.html") Styleguide (UI Kit)]
        li #[a(href="./typography.html") Typography]

    script.
      document.addEventListener('click', (e) => {
          const link = e.target.closest('.disabled');

          if (!link) return;

          e.preventDefault();

          alert('Coming Soon =)');
      });
