mixin footer()
  // footer
  footer.footer
    .container-fluid
      .footer__main
        nav.footer-nav
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link Dashboard
            li.footer-nav__item
              a(href="#").footer-nav__link Supports
            li.footer-nav__item
              a(href="#").footer-nav__link Contacts
        small.copy Copyright &copy; 2018 Simply. All rights reserved.
  // /footer
